*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background-color:moccasin;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color:#c4c4c4;
    padding: 1.5rem;
    border-radius: 10px;
    width: 400px;
}
.container h1{
    font-size: 24px;
    margin-bottom:1.5rem;
    text-align: center;
}
.input-group,
.output-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}
.input-group label,
.output-group label{
    font-weight: 600;
    margin-bottom: 0.4rem;
}
select, input{
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #eee;
}
 button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #4caf50;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
}
button:hover{
    background-color:darkgreen;
}
.output-group{
    margin-top: 1.2rem;
}
#message{
    font-size: .8rem;
    color: #4caf50;
    margin-top: .7rem;
    text-align: center;
}